*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #EEEEEE; 
}
.main-container{
    height: 40rem;
    width: 70rem;
    margin-top: 3%;
}
.content{
    font-size: 2rem;
    color: #2D72F1;
    margin-left: 10%;
    font-weight: bolder;
    margin-bottom: 2%;
}
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 10%;
    box-sizing: border-box;
    border: 1px solid #cbcfd7;
    border-radius: 4px;
}
#company{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 10%;
    box-sizing: border-box;
    border: 1px solid #cbd5e6;
    border-radius: 4px;
    font-size: 1rem;
}
label{
    margin-left: 10%;
    color: #4882e6;
}
::placeholder{
    color: black;
    font-size: 1rem;
}
.btn{
    height: 7%;
    width: 30%;
    background-color:#2D72F1;
    color: white;
    margin-left: 10%;
    margin-top: 2%;
    border: #2D72F1;
    font-size: 1rem;
    border-radius: 10px;
}
.art{
    height: 30%;
    width:50%;
    background-color: white;
    float:right;
    margin-top: 18%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgb(214, 211, 211);
}
.art-img{
    display: flex;
}
img{
    border-radius: 100%;
    width: 12%;
    height: 50%;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 5px rgb(215, 213, 213);
    padding: 1px 2px 2px 1px;
    margin-top: 5%;
    margin-left: 5%;
}
h4{
    height: 1.5rem;
    width: 11%;
    background-color: rgb(220, 87, 109);
    color: white;
    font-size: 10px;
    padding-left: 13px;
    padding-top: 7px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    margin-left: 50%;
    margin-top: 20px;
    color: rgb(146, 141, 141);
    font-size: 15px;
}
h2{
    color: #36409B;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 22%;

}
.para{
    display: flex;
    margin-left: 14%;
}
.p1{
    height: 1.5rem;
    width: 26%;
    background-color: #DCDCDC;
    color: #3f64a4;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 1px;
    border-radius: 5px;
    margin-top: 13px;
    margin-left: 42px;
}
.p2{
    height: 1.5rem;
    width: 26%;
    background-color: #DCDCDC;
    color: #3f64a4;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 1px;
    border-radius: 5px;
    margin-top: 13px;
    margin-left: 26px;
}
i{
    color: #7A8489;
    font-size: 10px;
    margin-top: 30px;
    margin-left: 120px;
}
.profile{
    color: #3f64a4;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 26px;
    margin-left: 6px;
}
.para1{
    display: flex;
}
